{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <h1 class="page-header">Word Counter</h1> <br>

    <div class="container">
        <input type="submit" class="btn btn-help" value={{feature1.name}} />
        {% if is_true == True%}

   <p>{{feature1.details}}</p>
{% endif %}
    </div>

    <form method="POST" action="counter">
        {% csrf_token %}
        <textarea name="text" rows="10" cols="80" placeholder="Enter your text here..."></textarea>
        <input type="Submit" value="Submit" class="btn">
    </form>
</body>