{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Chat App</title>
</head>
<body>
<h1 class="title">Chat App</h1>
<div class="container">
    <div class="row">
<form method="POST" action="checkview" id="checkview" class="checkview">
    {% csrf_token %}
    <div class="form-group">
    <label>Room Name <br>
    <input type="text" name="room_name" placeholder="Create or Search to Start a Room" id="room_name" class="form-control" required>
    </label>
    </div>
    <div class="form-group">
    <label>Username <br>
        <input type="text" name="username" placeholder="username" required>
    </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Start Room" class="btn btn-primary">
    </div>
</form>
</div>
</div>

</body>
</html>
