{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Tech Hashes</title>
  </head>
  <body>
    <section class="container">
      <h1 class="page-header">Welcome to Tech Hashes!</h1>

      <div class="page-header2">
        <h2>Login Here</h2>
      </div>
      <div class="row">
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}

        <form method="POST" action="login" id="form" name="form">
          {% csrf_token %}

          <label for="username">Username</label> <br />
          <input
            type="text"
            name="username"
            placeholder="username"
            id="username"
            autocomplete="off"
            autocomplete-suggestions="on"
          />

          <br />
          <label for="password">Password</label>
          <br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="password"
          />
          <br />
          <div class="btn-submit">
            <input type="submit" name="submit" value="Log in" class="btn" />
        </div>
        <br />
          <div class="registerHere">
            Don't have an account yet? <br>
            <a href="{% url 'signup' %}"
              >
              Signup here!</a
            >
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
